@import 'styles/base/variables';

.react-calendar {
  width: 80%;
  height: 100%;
  
  color: $black;
  background: $white;
  border-radius: 8px;
  border: 1px solid $lavendar-1;

  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 2rem;
  }

  .table {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  :global(.react-aria-CalendarCell) {
    width: 10rem;
    padding-inline: 1rem;
    text-align: right;
    border-radius: 6px;
    cursor: default;
    outline: solid 1px $lavendar-1;
    margin: 2px;
    forced-color-adjust: none;

    .events {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start; 
      gap: 5px;
      padding-bottom: 5px;
    }
  }
}
