.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  
  .title {

  }
    
  .body {

  }

  .actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}