.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;

  padding: 10px;
  
  .title {

  }
    
  .body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }

  .actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}